.App {
	margin: 20px auto;
	width: 80%;
	min-width: 840px;
	font-size: 16px;
	box-shadow: 0 0 5px black;
	}

h1 {
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 20px;
	margin: 20px;
	}

h4 {
	text-align: center;
	}

.dark {
	filter: brightness(30%);
	}

@media screen and (max-width: 1679px) {
	.App {
		width: 85%;
		}
	}

@media screen and (max-width: 1366px) {
	.App {
		width: 95%;
		font-size: 14px;
		}
	}

@media screen and (max-width: 1023px) {
	.App {
		width: 98%;
		font-size: 12px;
		}
	}